# only allow csv in that folder (and its subfolders)
*.csv
*.parquet
*.joblib
*.pt
*.ckpt
.venv/
__pycache__/
.ipynb_checkpoints/

!data/**/*.csv
!**/model_predictions/*outputs/model_predictions/als_recommendations.csv
outputs/model_predictions/two_stage_gbm_recommendations.csv
outputs/model_predictions/two_stage_gbm_simple_recommendations.csv

# allow Parquet prediction files
!outputs/model_predictions/*.parquet

# Ignore Mac system files
.DS_Store
